body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #111;
    color: white;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #000;
}

nav {
    text-align: center;
    background-color: #1f2833;
    padding: 10px;
}

nav a {
    color: cyan;
    margin: 10px;
    text-decoration: none;
}

main {
    padding: 20px;
}

img {
    width: 100%;
    max-width: 400px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #000;
}